<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h2>Your order is comfirmed!</h2>
        <button onclick="location.href = './tutor_dashboard';" id="myButton" class="float-left submit-button" >Return</button>


    </div>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>

