<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Page for profile</h1>
        <p>Profile</p>


    </div>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>

